# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Topics/Boolean and logical operations/Invitations and gifts/out/
/Topics/Boolean and logical operations/Invitations and gifts/out/production/classes/
/Topics/Characters/Comparing numbers and characters/out/
/Topics/Characters/Comparing numbers and characters/out/production/classes/
/Topics/Characters/Digits or not/out/
/Topics/Characters/Digits or not/out/production/classes/
/Topics/Declaring functions/Comparing sums/out/
/Topics/Declaring functions/Comparing sums/out/production/classes/
/Topics/Declaring functions/Get last digit/out/
/Topics/Declaring functions/Get last digit/out/production/classes/
/Topics/Declaring functions/The square of a number/out/
/Topics/Declaring functions/The square of a number/out/production/classes/
/Topics/For loop and ranges/The roots of equation/out/
/Topics/For loop and ranges/The roots of equation/out/production/classes/
/Topics/For loop and ranges/The sum of integers from a to b/out/
/Topics/For loop and ranges/The sum of integers from a to b/out/production/classes/
/Topics/If expression/Check a number is positive/out/
/Topics/If expression/Check a number is positive/out/production/classes/
/Topics/If expression/Positive, Negative or Zero/out/
/Topics/If expression/Positive, Negative or Zero/out/production/classes/
/Topics/Integers in action/Apple pie/out/
/Topics/Integers in action/Apple pie/out/production/classes/
/Topics/Invoking functions/Invoking functions/out/
/Topics/Invoking functions/Invoking functions/out/production/classes/
/Topics/Invoking functions/Square root/out/
/Topics/Invoking functions/Square root/out/production/classes/
/Topics/Overview of the basic program/Application/out/
/Topics/Overview of the basic program/Application/out/production/classes/
/Topics/Overview of the basic program/The eternal truth/out/
/Topics/Overview of the basic program/The eternal truth/out/production/classes/
/Topics/Overview of the basic program/Theory/build/
/Topics/Ranges/At least one/out/
/Topics/Ranges/At least one/out/production/classes/
/Topics/Ranges/Job/out/
/Topics/Ranges/Job/out/production/classes/
/Topics/Ranges/Working hours/out/
/Topics/Ranges/Working hours/out/production/classes/
/Topics/Reading data with a readln/Read a Double/out/
/Topics/Reading data with a readln/Read a Double/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Relational operators/Who is less than 10/out/
/Topics/Relational operators/Who is less than 10/out/production/classes/
/Topics/Repeating blocks/Kotlin x5/out/
/Topics/Repeating blocks/Kotlin x5/out/production/classes/
/Topics/Repeating blocks/Maximum element divisible by 4/out/
/Topics/Repeating blocks/Maximum element divisible by 4/out/production/classes/
/Topics/Repeating blocks/Repeat by value/out/
/Topics/Repeating blocks/Repeat by value/out/production/classes/
/Topics/Standard output/Amount on the account/out/
/Topics/Standard output/Amount on the account/out/production/classes/
/Topics/Standard output/Correct the code/out/
/Topics/Standard output/Correct the code/out/production/classes/
/Topics/Standard output/First, second, third/out/
/Topics/Standard output/First, second, third/out/production/classes/
/Topics/Standard output/From 0 to 9/out/
/Topics/Standard output/From 0 to 9/out/production/classes/
/Topics/Standard output/Print a triangle/out/
/Topics/Standard output/Print a triangle/out/production/classes/
/Topics/Standard output/What does the program print/out/
/Topics/Standard output/What does the program print/out/production/classes/
/Topics/String basics/I'm learning Kotlin/out/
/Topics/String basics/I'm learning Kotlin/out/production/classes/
/Topics/String basics/JSON/out/
/Topics/String basics/JSON/out/production/classes/
/Topics/String templates/Arithmetic expression/out/
/Topics/String templates/Arithmetic expression/out/production/classes/
/Topics/String templates/Print two numbers on the same line/out/
/Topics/String templates/Print two numbers on the same line/out/production/classes/
/Topics/String templates/String and its Int/out/
/Topics/String templates/String and its Int/out/production/classes/
/Topics/The classification of basic types/Max values of integer types/out/
/Topics/The classification of basic types/Max values of integer types/out/production/classes/
/Topics/Type conversion/Simple converter/out/
/Topics/Type conversion/Simple converter/out/production/classes/
/Topics/Values and variables/Fix declarations/out/
/Topics/Values and variables/Fix declarations/out/production/classes/
/Topics/While loops/Collatz conjecture/out/
/Topics/While loops/Collatz conjecture/out/production/classes/
/Topics/Working with strings/The number of tens/out/
/Topics/Working with strings/The number of tens/out/production/classes/
/Topics/Working with strings/The same line/out/
/Topics/Working with strings/The same line/out/production/classes/